body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    text-align: center;
}

section {
    width: fit-content;
    margin: 0 auto;
    background-color: antiquewhite;
    font-weight: bold;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

input {
    margin-bottom: 5%;
}

button {
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    display: inline;
    margin-top: 5%;
}

#display-expenses {
    text-align: center;
    display: block;
    background-color: antiquewhite;
    width: fit-content;
    margin: 0 auto;
}

.edit-button {
    margin: 0 auto;
    display: inline;
}

.delete-button {
    display: inline;
}
