body {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#css-section, button {
    width: fit-content;
    font-weight: bold;
}

.css-text, button{
    background-color: burlywood;
}
