body {
    background-color: lightgray;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: large;
    margin: 0%;
}

button {
    background-color: burlywood;
    font-size: medium;
    font-weight: bolder;
}

input {
    background-color: burlywood;
    color:black;
    font-weight: bolder;
    width: fit-content;
    padding : 3px;
}

fieldset {
    background-color: antiquewhite;
    margin: 0 auto;
    width: fit-content;
}

#btn-form {
    display: block;
    margin-top: 10px;
}

#display_order {
    text-align: center;
    display: block;
}

.edit-button {
    margin: 0 auto;
}

.delete-button {
    display: inline;
}